{% extends "base.html" %}



{% block title %}
Blogly Tag
{% endblock %}





{% block header %}
  {{tag.name}}
{% endblock %}




{% block content %}
<ul>
    {% for post in tag.posts %}
    <li><a href="/users/{{post.user_id}}/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %} 
  </ul>
<div class="d-inline-block">
<button class="btn btn-outline-info"><a href="/tags">Cancel</a></button>
</div>
<div class="d-inline-block">
<form action="/tags/{{tag.id}}/edit">
      <button class="btn btn-primary">Edit</button>   
</form>
</div>
<div class="d-inline-block">
<form method="POST" action="/tags/{{tag.id}}/delete">
        <button class="btn btn-danger">Delete</button>
    </form>
  </div>  
  {% endblock %}