{% extends "base.html" %}



{% block title %}
Blogly Post
{% endblock %}





{% block header %}
  {{post.title}}
{% endblock %}




{% block content %}


<p class="mt-4">{{post.content}}</p><br>
<p><i>By {{user.first}} {{user.last}}</i></p>
<p><i>Created at {{post.created_at}}</i></p>
<div>
  <p><b>Tags: </b>
{% for tag in post.tags %}
    <span><a href="/tags/{{tag.id}}" class="add btn btn-primary post_tag">{{tag.name}}</a></span>
    {% endfor %} </p>
</div>  
<div class="d-inline-block">
<button class="btn btn-outline-info"><a href="/users/{{user.id}}">Cancel</a></button>
</div>
<div class="d-inline-block">
<form action="/users/{{user.id}}/posts/{{post.id}}/edit">
      <button class="btn btn-primary">Edit</button>   
</form>
</div>
<div class="d-inline-block">
<form method="POST" action="/users/{{user.id}}/posts/{{post.id}}/delete">
        <button class="btn btn-danger">Delete</button>
    </form>
  </div>
  {% endblock %}