{% extends "base.html" %}

{% block title %}
{{user.first}}'s Profile
{% endblock %}





{% block header %}
  
{% endblock %}




{% block content %}
<div idclass="container" id="main">
  <div class="row">
    <div class="col">
      <img src="{{user.image}}" alt="">
    </div>
    <div class="col">
      <div class="container">
        <div class="row">
          <h1>{{user.first}} {{user.last}}</h1>
        </div>
        <div class="row">
          <div class="col">
            <form action="/users/{{user.id}}/edit">
                <button class="btn btn-primary">Edit</button>   
            </form>
          </div>
          <div class="col">
              <form method="POST" action="/users/{{user.id}}/delete">
                  <button class="btn btn-danger">Delete</button>
            </form>
            </div>
          </div>
          <div id="posts" class="row">
            <div class="container">
              <div class="row">
                
                <figure>
                  <figcaption class="h3">Posts</figcaption>
                  <ul>
                      {% for post in posts %}
                      <li><a href="/users/{{user.id}}/posts/{{post.id}}">{{ post.title }}</a></li>
                      {% endfor %} 
                  </ul>
                </figure>
                
                
                  <button type="button" class="btn btn-primary button"><a class="add" href="/users/{{user.id}}/add_post">Add Post</a></button>
                  
                  
               </div>   
          </div>
      </div>
    </div>
  </div>
</div>


<a href="/">Return to Users</a>

{% endblock %}