{% extends "base.html" %}



{% block title %}
Blogly Users
{% endblock %}





{% block header %}
  Blogly Users
{% endblock %}




{% block content %}
  <ul>
    {% for user in users %}
    <li><a href="/users/{{ user.id }}">{{ user.first }} {{ user.last }}</a></li>
    {% endfor %} 
  </ul>

  <button type="button" class="btn btn-secondary"><a class="add" href="/users/new">Add user</a></button>
  <button type="button" class="btn btn-secondary"><a class="add" href="/tags/new">Add tag</a></button>
  <button type="button" class="btn btn-secondary"><a class="add" href="/tags">See tags</a></button>
{% endblock %}